
body {
  background-image: linear-gradient(#ffffff26,#ffffff80), url('./assets/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #f8f9fa; /* Fallback color */
  font-family: 'Poppins', sans-serif;
  color: #000000
}

#about, #projects, #contact, .jumbotron {
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

a {
  color: #0d6efd;
}

#projects .card {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#projects .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#projects .card-title {
  min-height: 48px; /* Consistent title height */
  overflow-wrap: break-word;
}

#projects .card-text {
  flex-grow: 1;
  overflow: visible;
  white-space: normal;
  -webkit-line-clamp: unset;
}

#projects .card .mt-auto {
  margin-top: auto; /* Pushes the buttons to the bottom */
}

.text-readable-shadow {
  text-shadow: 1px 1px 0px #000000cc;
}

.text-muted {
  color: #000000 !important;
}
